[package]
name = "futuresdr"
version = "0.0.27"
authors = ["FutureSDR Contributors <team@futuresdr.org>"]
edition = "2021"
rust-version = "1.60"
license = "Apache-2.0"
homepage = "https://www.futuresdr.org"
repository = "https://github.com/futuresdr/futuresdr/"
readme = "README.md"
description = "An Experimental Async SDR Runtime for Heterogeneous Architectures."
keywords = ["sdr", "radio", "runtime", "async", "acceleration"]
categories = ["asynchronous", "concurrency", "hardware-support", "science", "wasm"]

[workspace]
members = [
    ".",
    "futuredsp",
    "macros",
    "pmt",
]

[features]
default = []
aaronia = ["dep:async-native-tls", "dep:http", "dep:hyper", "dep:serde_json"]
audio = ["dep:cpal", "dep:hound", "dep:rodio"]
flow_scheduler = []
lttng = ["dep:lttng-ust", "dep:lttng-ust-generate"]
soapy = ["dep:soapysdr"]
tpb_scheduler = []
vulkan = ["dep:vulkano", "dep:vulkano-shaders"]
wgpu = ["dep:wgpu"]
zeromq = ["dep:zmq"]
zynq = ["dep:xilinx-dma"]

[[bench]]
name = "flowgraph"
harness = false

[[bench]]
name = "apply"
harness = false

[[example]]
name = "scheduler"
required-features = ["tpb_scheduler", "flow_scheduler"]

[[example]]
name = "soapy"
required-features = ["soapy"]

[[example]]
name = "soapy_multichan"
required-features = ["soapy"]

[[example]]
name = "vulkan"
required-features = ["vulkan"]

[[example]]
name = "zynq"
required-features = ["zynq"]

[[test]]
name = "flow"
required-features = ["flow_scheduler"]

[[test]]
name = "vulkan"
required-features = ["vulkan"]

[[test]]
name = "tpb"
required-features = ["tpb_scheduler"]

[[test]]
name = "soapy"
required-features = ["soapy"]

[dependencies]
anyhow = "1.0"
async-trait = "0.1.52"
config = "0.13.1"
dirs = "4.0"
dyn-clone = "1.0.9"
futures = "0.3.18"
futures-lite = "1.10.0"
futuredsp = { path = "futuredsp", version = "0.0.6" }
futuresdr-macros = { path = "macros", version = "0.0.2" }
futuresdr-pmt = { path = "pmt", version = "0.0.7" }
log = { version = "0.4", features = ["std", "max_level_debug", "release_max_level_info"] }
num-complex = "0.4.0"
num-integer = "0.1"
num_cpus = "1.13.0"
once_cell = "1.5.2"
rand = "0.8.0"
rustfft = "6.0.1"
slab = "0.4.4"
spin = "0.9.0"
serde = { version = "1.0", features = ["derive"] }
thiserror = "1.0.37"
wgpu = { version = "0.14.0", optional = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
console_log = "0.2.0"
cpal = { version = "0.14.1", optional = true, features = ['wasm-bindgen'] }
getrandom = { version = "0.2.3", features = ["js"] }
gloo-net = {version = "0.2.2", default-features = false, features = ["websocket", "json"]}
rodio = { version = "0.16.0", default-features = false, optional = true }
wasm-bindgen = "0.2.79"
wasm-bindgen-futures = "0.4.28"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
async-executor = "1.4.1"
async-fs = "1.5.0"
async-io = "1.6.0"
async-lock = "2.5.0"
async-net = "1.5.0"
async-task = "4.0.3"
async-tungstenite = "0.18.0"
axum = "0.5.5"
blocking = "1.1"
concurrent-queue = "1.2.2"
core_affinity = "0.7.6"
cpal = { version = "0.14.1", optional = true }
hound = {version = "3.4.0", optional = true }
libc = "0.2.126"
soapysdr = { version = "0.3.2", optional = true }
rodio = { version = "0.16.0", optional = true }
tokio = { version = "1.18.2", features = ["rt"] }
tower-http = { version = "0.3.3", features = ["add-extension", "cors", "fs"] }
vmcircbuffer = "0.0.9"
vulkano = { version = "0.32", optional = true }
zmq = { version = "0.10.0", optional = true }
vulkano-shaders = { version = "0.32", optional = true }


async-native-tls = { version = "0.4", optional = true }
http = { version = "0.2", optional = true }
hyper = { version = "0.14", default-features = false, features = ["client", "http1", "stream"], optional = true}
serde_json = { version = "1.0.89", optional = true}

[target.'cfg(target_os = "linux")'.dependencies]
lttng-ust = { git = "https://github.com/sprt/lttng-ust-rs.git", version = "0.1.0", optional = true}
xilinx-dma = { version = "0.0.7", optional = true }

[target.'cfg(target_os = "android")'.dependencies]
android_logger = "0.11.0"

[build-dependencies]
rustc_version = "0.4.0"

[target.'cfg(target_os = "linux")'.build-dependencies]
lttng-ust-generate = { git = "https://github.com/sprt/lttng-ust-rs.git", version = "0.1.1", optional = true }

[dev-dependencies]
async-channel = "1.6.1"
async-executor = "1.3.0"
criterion = { version = "0.4.0", features = [ "html_reports" ] }
easy-parallel = "3.1.0"
float-cmp = "0.9.0"

[profile.release]
codegen-units = 1
debug = true
lto = "fat"
opt-level = 3
panic = "abort"

[package.metadata.docs.rs]
rustdoc-args = ["--cfg", "docsrs"]
