[package]
name = "futuresdr"
version = "0.0.7"
authors = ["Bastian Bloessl <mail@bastibl.net>"]
edition = "2021"
license = "Apache-2.0"
homepage = "https://www.futuresdr.org"
repository = "https://github.com/futuresdr/futuresdr/"
readme = "README.md"
description = "An Experimental Async SDR Runtime for Heterogeneous Architectures."
keywords = ["sdr", "radio", "runtime", "async", "acceleration"]
categories = ["asynchronous", "concurrency", "hardware-support", "science", "wasm"]

[workspace]
members = [
    ".",
    "pmt",
    "frontend",
    "examples/android",
    "examples/audio",
    "examples/logging",
    "examples/wasm",
    "examples/zeromq",
    "perf/fir",
    "perf/fir_latency",
    "perf/msg",
    "perf/null_rand",
    "perf/null_rand_latency",
]

[features]
default = []
tpb_scheduler = []
flow_scheduler = []
block_builder = []
lttng = ["lttng-ust", "lttng-ust-generate"]
audio = ["cpal", "rodio"]
soapy = ["soapysdr"]
vulkan = ["vulkano", "vulkano-shaders"]
zynq = ["xilinx-dma"]
zeromq = ["zmq"]

[[example]]
name = "scheduler"
required-features = ["tpb_scheduler", "flow_scheduler"]

[[example]]
name = "soapy"
required-features = ["soapy"]

[[example]]
name = "vulkan"
required-features = ["vulkan"]

[[example]]
name = "zynq"
required-features = ["zynq"]

[[test]]
name = "flow"
required-features = ["flow_scheduler"]

[[test]]
name = "tpb"
required-features = ["tpb_scheduler"]

[dependencies]
anyhow = "1.0.38"
async-trait = "0.1.41"
clap = "2.33.1"
config = "0.11.0"
dirs = "3.0.1"
futures = "0.3.5"
futures-lite = "1.10.0"
futuresdr-pmt = { path = "pmt", version = "0.0.2" }
log = { version = "0.4", features = ["max_level_debug", "release_max_level_off"] }
lttng-ust = { version = "0.1.0", optional = true}
num-complex = "0.4.0"
num_cpus = "1.13.0"
once_cell = "1.5.2"
rand = "0.8.0"
slab = "0.4.4"
spin = "0.9.0"
serde = { version = "1.0", features = ["derive"] }
zmq = {version = "0.9", optional = true}

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-rs-async-executor = "0.9.0"
console_log = "0.2.0"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
async-executor = "1.4.1"
async-fs = "1.5.0"
async-io = "1.6.0"
async-lock = "2.4.0"
async-net = "1.5.0"
async-task = "4.0.3"
async-tungstenite = "0.14.0"
blocking = "1.0.2"
concurrent-queue = "1.2.2"
core_affinity = "0.5.10"
cpal = { version = "0.13.4", optional = true }
libc = "0.2.99"
rocket = { version = "0.5.0-rc.1", features = ["json"] }
rocket_cors = { git = "https://github.com/lawliet89/rocket_cors", rev = "a062933c1b109949c618b0dba296ac33e4b1a105" }
rodio = { version = "0.14.0", optional = true }
rustfft = "6.0.1"
tungstenite = "0.14.0"
vulkano = { version = "0.27.1", optional = true }
vulkano-shaders = { version = "0.27.1", optional = true }
tokio = { version = "1", features = ["rt"] }

[target.'cfg(all(not(target_arch = "wasm32"), not(target_os = "android")))'.dependencies]
soapysdr = { version = "0.3.1", optional = true }

[target.'cfg(unix)'.dependencies]
xilinx-dma = { version = "0.0.3", optional = true }

[target.'cfg(target_os = "android")'.dependencies]
android_logger = "0.10.1"
openssl-sys = { version = "0.9.63", features = ["vendored"] }

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3", features = ["sysinfoapi", "winbase", "handleapi", "memoryapi"] }

[build-dependencies]
lttng-ust-generate = { version = "0.1.1", optional = true }

[dev-dependencies]
async-channel = "1.6.1"
async-executor = "1.3.0"
easy-parallel = "3.1.0"

[profile.release]
codegen-units = 1
debug = true
lto = "fat"
opt-level = 3
panic = "abort"
