[package]
name = "futuresdr"
version = "0.0.15"
authors = ["FutureSDR Contributors <team@futuresdr.org>"]
edition = "2021"
license = "Apache-2.0"
homepage = "https://www.futuresdr.org"
repository = "https://github.com/futuresdr/futuresdr/"
readme = "README.md"
description = "An Experimental Async SDR Runtime for Heterogeneous Architectures."
keywords = ["sdr", "radio", "runtime", "async", "acceleration"]
categories = ["asynchronous", "concurrency", "hardware-support", "science", "wasm"]

[workspace]
members = [
    ".",
    "examples/android",
    "examples/android-hw",
    "examples/audio",
    "examples/cw",
    "examples/firdes",
    "examples/fm-receiver",
    "examples/logging",
    "examples/rx-to-file",
    "examples/spectrum",
    "examples/wasm",
    "examples/wgpu",
    "examples/zeromq",
    "examples/zigbee",
    "frontend",
    "futuredsp",
    "perf/buffer_rand",
    "perf/buffer_size",
    "perf/fir",
    "perf/fir_latency",
    "perf/msg",
    "perf/null_rand",
    "perf/null_rand_latency",
    "perf/vulkan",
    "perf/wgpu",
    "perf/zynq",
    "pmt",
]

[features]
default = []
tpb_scheduler = []
flow_scheduler = []
lttng = ["lttng-ust", "lttng-ust-generate"]
audio = ["cpal", "hound", "rodio"]
soapy = ["soapysdr"]
vulkan = ["vulkano", "vulkano-shaders"]
zynq = ["xilinx-dma"]
zeromq = ["zmq/vendored"]
wav = ["hound"]

[[bench]]
name = "flowgraph"
harness = false

[[bench]]
name = "apply"
harness = false

[[example]]
name = "scheduler"
required-features = ["tpb_scheduler", "flow_scheduler"]

[[example]]
name = "soapy"
required-features = ["soapy"]

[[example]]
name = "vulkan"
required-features = ["vulkan"]

[[example]]
name = "zynq"
required-features = ["zynq"]

[[test]]
name = "flow"
required-features = ["flow_scheduler"]

[[test]]
name = "vulkan"
required-features = ["vulkan"]

[[test]]
name = "tpb"
required-features = ["tpb_scheduler"]

[dependencies]
anyhow = "1.0"
async-trait = "0.1.52"
config = "0.13.1"
dirs = "4.0"
futures = "0.3.18"
futures-lite = "1.10.0"
futuredsp = { path = "futuredsp", version = "0.0.2" }
futuresdr-pmt = { path = "pmt", version = "0.0.2" }
log = { version = "0.4", features = ["std", "max_level_debug", "release_max_level_info"] }
lttng-ust = { version = "0.1.0", optional = true}
num-complex = "0.4.0"
num_cpus = "1.13.0"
once_cell = "1.5.2"
rand = "0.8.0"
rustfft = "6.0.1"
slab = "0.4.4"
spin = "0.9.0"
serde = { version = "1.0", features = ["derive"] }
wgpu = { git = "https://github.com/gfx-rs/wgpu.git", branch = "master", version = "0.12.0", optional = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
console_log = "0.2.0"
cpal = { version = "0.13.4", optional = true, features = ['wasm-bindgen'] }
futuresdr-frontend = { path = "frontend", version = "0.0.1" }
getrandom = { version = "0.2.3", features = ["js"] }
rodio = { version = "0.15.0", default-features = false, optional = true }
wasm-bindgen = "0.2.79"
wasm-bindgen-futures = "0.4.28"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
async-executor = "1.4.1"
async-fs = "1.5.0"
async-io = "1.6.0"
async-lock = "2.4.0"
async-net = "1.5.0"
async-task = "4.0.3"
async-tungstenite = "0.17.0"
axum = "0.5.5"
blocking = "1.1"
concurrent-queue = "1.2.2"
core_affinity = "0.5.10"
cpal = { version = "0.13.4", optional = true }
hound = {version = "3.4.0", optional = true }
libc = "0.2.113"
rodio = { version = "0.15.0", optional = true }
soapysdr = { version = "0.3.1", optional = true }
tokio = { version = "1.18.2", features = ["rt"] }
tower-http = { version = "0.3.3", features = ["add-extension", "cors", "fs"] }
vmcircbuffer = "0.0.7"
vulkano = { version = "0.29.0", optional = true }
vulkano-shaders = { version = "0.29.0", optional = true }
zmq = { version = "0.9.2", optional = true}

[target.'cfg(unix)'.dependencies]
xilinx-dma = { version = "0.0.7", optional = true }

[target.'cfg(target_os = "android")'.dependencies]
android_logger = "0.11.0"
openssl-sys = { version = "0.9.71", features = ["vendored"] }

[build-dependencies]
rustc_version = "0.4.0"
lttng-ust-generate = { version = "0.1.1", optional = true }

[dev-dependencies]
async-channel = "1.6.1"
async-executor = "1.3.0"
criterion = { version = "0.3.5", features = [ "html_reports" ] }
easy-parallel = "3.1.0"

[profile.release]
codegen-units = 1
debug = true
lto = "fat"
opt-level = 3
panic = "abort"

[package.metadata.docs.rs]
rustdoc-args = ["--cfg", "docsrs"]
