[package]
name = "wgpu"
version = "0.1.0"
edition = "2021"

[workspace]

[lib]
crate-type = ["cdylib", "rlib"]

[[bin]]
name = "loopback"
path = "src/loopback.rs"

[dependencies]
anyhow = "1.0"
futuresdr = { path = "../..", features = ["wgpu"] }
rand = "0.9"

[target.'cfg(target_arch = "wasm32")'.dependencies]
console_error_panic_hook = "0.1"
getrandom = { version = "0.3", features = ["wasm_js"] }
wasm-bindgen = "0.2"
wasm-bindgen-futures = "0.4"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
async-io = "2.3"
