[package]
name = "perf_wgpu"
version = "0.1.0"
edition = "2024"

[workspace]

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
anyhow = "1.0"
futuresdr = { path = "../..", features = ["wgpu"] }
rand = "0.9"
getrandom = { version = "0.3", features = ["wasm_js"] }
tracing = { version = "0.1", features = ["release_max_level_off"] }
web-time = { version = "1.1" }

[target.'cfg(target_arch = "wasm32")'.dependencies]
console_error_panic_hook = "0.1"
leptos = { version = "0.7", features = ["csr", "nightly"] }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
clap = { version = "4", features = ["derive"] }
