[package]
name = "fir"
version = "0.1.0"
edition = "2021"

[dependencies]
clap = "3.1.0"
futuresdr = { path = "../..", features = ["flow_scheduler", "tpb_scheduler"] }
log = { version = "0.4", features = ["release_max_level_off"] }
rand = "0.8.0"

[[bin]]
name = "fir"
path = "fir.rs"
