[package]
name = "null_rand_latency"
version = "0.1.0"
edition = "2021"

[workspace]

[dependencies]
clap = { version = "4", features = ["derive"] }
futuresdr = { path = "../..", features = ["flow_scheduler", "tpb_scheduler", "lttng"] }
tracing = { version = "0.1", features = ["release_max_level_off"] }

[[bin]]
name = "null_rand_latency"
path = "null_rand_latency.rs"
